<md-content layout-padding>
    <h3 class="removePadding">Tired of doing the same route week after week because you can't find new routes to
        ride?</h3>
    <h3 class="removePadding">Well, check it.</h3>
    <h3 class="removePadding">Fill in the info below and we'll find a trail for you. ezpz</h3>
</md-content>
<md-content layout="column" layout-padding>
    <md-input-container class="zipcode">
        <label class="zipcodeText">Zipcode</label>
        <input id="zip" ng-model="zip" type="text" required>
    </md-input-container>
    <md-input-container>
        <label>Difficulty</label>
        <md-select id="difficulty" ng-model="difficulty" required>
            <md-option ng-repeat="option in diffOptions" value="{{option}}">{{option}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Length</label>
        <md-select id="length" ng-model="length" required>
            <md-option ng-repeat="option in lenOptions" value="{{option}}">{{option}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Driving Distance</label>
        <md-select id="driveDist" ng-model="distance" required>
            <md-option ng-repeat="option in distOptions" value="{{option}}">{{option}}</md-option>
        </md-select>
    </md-input-container>
    <md-button ng-click="submitForm()" class="md-raised" flex>Leggo</md-button>
</md-content>

