html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, sans-serif;
}
.background{
    background: url("../images/background.png")  no-repeat left bottom fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.header{
    max-height:96px;
}
.footer{
    max-height:100px;
}
.footerText{
    margin:0;
}
.name{
    margin:0;
    padding:0;
    text-align: center;
}
.removePadding {
    margin-top:0;
    margin-bottom:0;
}

.zipcode{
    margin-bottom:-10px;
}
.zipcodeText{
    margin-left: 6px;
}
.container{}
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

@media (min-width: 100px) {
    .container{
        max-width:30rem !important;
        align-items: center;
        margin:auto;
    }
    .header{
        max-width:30rem !important;
        align-items: center;
        margin:auto;
    }
    .footer{
        max-width:30rem !important;
        align-items: center;
        margin:auto;
    }
}