<section class="intro">
</section>
<section class="jumbotron">

    <div class="intro">
        <p>Check it out! Here's what we found.</p>
    </div>
    <div class="trail">
        <p>Trail name: <a href="{{trail.url}}" target="_blank">{{trail.name}}</a><br>
            Length: {{trail.length}}<br>
            Difficulty: {{trail.difficulty}}<br>
            Rating: {{trail.rating}}
        </p>
        <br>
        <p>All this info is taken from <a href="http://www.mtbproject.com/">Mtbproject</a>. Check them out.</p>

    </div>
    <div ng-if="more">
        <div>
            <p>Don't like that one?</p>
            <button class="btn" ng-click="tryAgain()">Try again</button>
        </div>
        <p>Or view list of trails</p>
        <button class="btn" data-toggle="collapse" data-target="#expandTrails">All the trails</button>
        <div id="expandTrails" class="collapse">
            <div ng-repeat="trailFromList in trails">
                <div class="trail">
                    <p>Trail name: <a href="{{trailFromList.url}}" target="_blank">{{trailFromList.name}}</a><br>
                        Length: {{trailFromList.length}}<br>
                        Difficulty: {{trailFromList.difficulty}}<br>
                        Rating: {{trailFromList.rating}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!more">
        <p>Looks like this is it.</p>
        <p>Try again with different params?</p>
        <button class="btn" ui-sref="home">Go!</button>
    </div>
</section>